*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen and (min-width: 340px){

    .container{
        height: 100vh;
        width: 100vw;
    }
    .image_background{
        position: relative;
    }
    .small_background{
        height: 260px;
        width: 100%;
    }
    .big_background{
        display: none;
    }
    .front_card img{
        position: absolute;
        top: 130px;
        left: 6%;
        z-index: 2;
        width: 300px;
    }
    .back_card img{
        position: absolute;
        top: 30px;
        right: 8%;
        z-index: 1;
        width: 300px;
    }
    .white_background{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 60px 0 0;
        height: 360px;
        width: 340px;
    }
    .info p{
        font-size: 11px;
        color: #220A30;
        font-weight: 500;
        margin-bottom: 7px;
    }
    .info input{
        font-size: 13px;
        color: #220a30;
        font-weight: 500;
        padding-left: 10px;
        height: 45px;
        border: 1px solid #e4e4e4;
        border-radius: 7px;
    }
    button{
        height: 45px;
        font-size: 14px;
        font-weight: 500;
        background-color: #220A30;
        color: white;
        border: none;
        border-radius: 8px;
        width: 340px;
    }
    .first input,
    .second input{
        width: 100%;
    }
    .third{
        display: flex;
        justify-content: space-between;
        width: 340px;
    }
    .left input{
        width: 75px;
    }
    .middle input{
        width: 75px;
    }
    .right input{
        width: 170px;
    }
}

@media screen and (min-width: 760px) {
    .container{
        display: flex;
    }
    .small_background{
        display: none;
    }
    .big_background{
        display: block;
        height: 100%;
        width: 300px;
    }
    .container{
        position: relative;
    }
    .front_card img{
        position: absolute;
        top: 32%;
        left: 7%;
    }
    .back_card img{
        position: absolute;
        top: 57%;
        left: 7%;
    }
    .front_card img,
    .back_card img{
        width: 320px;
    }
    
}

@media screen and (min-width: 980px){
    .front_card img,
    .back_card img{
        width: 360px;
    }
    .front_card img{
        top: 28%;
        left: 15%;
    }
    .back_card img{
        top: 59%;
        left: 20%;
    }
}

@media screen and (min-width: 1008px){
    .front_card img,
    .back_card img{
        width: 400px;
    }
    .front_card img{
        top: 28%;
        left: 15%;
    }
    .back_card img{
        top: 59%;
        left: 20%;
    }
}

@media screen and (min-width: 1330px){
    .big_background{
        width: 350px;
    }
    .front_card img,
    .back_card img{
        width: 450px;
    }
    .front_card img{
        top: 28%;
        left: 35%;
    }
    .back_card img{
        top: 57%;
        left: 50%;
    }
}
@media screen and (min-width: 1360px){
    .big_background{
        width: 350px;
    }
    .front_card img,
    .back_card img{
        width: 450px;
    }
    .front_card img{
        top: 28%;
        left: 35%;
    }
    .back_card img{
        top: 57%;
        left: 50%;
    }
}

@media screen and (min-width: 1440px){
    .big_background{
        width: 500px;
    }
    .front_card img,
    .back_card img{
        width: 500px;
    }
}