*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

@media screen and (min-width: 340px){

    .image_background{
        position: relative;
    }
    .small_background{
        height: 300px;
        width: 100%;
    }
    .big_background{
        display: none;
    }
    .front_card img{
        position: absolute;
        top: 160px;
        left: 6%;
        z-index: 2;
        width: 300px;
    }
    .back_card img{
        position: absolute;
        top: 60px;
        right: 8%;
        z-index: 1;
        width: 300px;
    }
    .white_background{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .info{
        display: flex;
        flex: 1;
        background-color: red;
        height: 350px;
        width: 360px;
    }
}